<h2 mat-dialog-title>Surgical techniques associated with the chosen lesion</h2>
<h4 mat-dialog-subtitle>Select one to see the details and technique steps</h4>
<mat-spinner *ngIf="!techniqueMetasFetched && !noAssociations"></mat-spinner>
<div
  *ngIf="techniqueMetasFetched"
  fxLayout="row wrap"
  fxLayoutAlign="space-around center"
  fxLayoutGap="10px grid"
>
  <div *ngFor="let technique of techniqueMetas">
    <mat-card>
      <mat-card-header>
        <mat-card-title>{{ technique.name }}</mat-card-title>
        <mat-card-subtitle>By {{ technique.author }}</mat-card-subtitle>
        <div *ngIf="technique.id">
          <div *ngIf="averageRatings[technique.id]">
            Ø {{ averageRatings[technique.id] }}
            <label class="star"></label>
          </div>
          <div *ngIf="!averageRatings[technique.id]">No ratings yet</div>
        </div>
      </mat-card-header>
      <mat-card-content>
        <p>{{ technique.stepIds.length }} Steps</p>
        <p class="truncated">{{ technique.description }}</p>
      </mat-card-content>
      <mat-card-actions>
        <button
          *ngIf="technique.id"
          mat-button
          (click)="showTechniqueRatings(technique)"
          [disabled]="ratings[technique.id].length === 0"
        >
          Show Ratings
        </button>
        <button mat-button (click)="showTechniqueDetails(technique)">
          Show Steps
        </button>
      </mat-card-actions>
    </mat-card>
  </div>
</div>
<div fxLayout="column" fxLayoutAlign="center center" *ngIf="noAssociations">
  <p>There are no associated surgical techniques for this kind of lesion.</p>
  <button mat-raised-button [routerLink]="'/add-technique'">
    Add new technique
  </button>
</div>
