<div
  fxLayout="row"
  fxLayoutAlign="space-around start"
  style="margin-top: calc(75px + 5%)"
>
  <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="15px">
    <mat-card fxFlexFill>
      <mat-card-header>
        <mat-card-title>
          <h2>Lesions</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="!lesionsFetched">
        <mat-progress-spinner color="accent" mode="indeterminate" diameter="60">
        </mat-progress-spinner>
      </mat-card-content>
      <mat-card-content *ngIf="lesionsFetched">
        <form class="example-form">
          <mat-form-field class="example-full-width" appearance="fill">
            <mat-label>Select a lesion</mat-label>
            <input
              matInput
              aria-label="Lesion"
              [matAutocomplete]="auto"
              [formControl]="lesionCtrl"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let lesionMeta of filteredLesionMetas | async"
                [value]="lesionMeta.name"
                (click)="selectLesion(lesionMeta)"
                >{{ lesionMeta.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlexFill>
      <mat-card-header *ngIf="!selectedLesion">
        <mat-card-title> Please select a lesion </mat-card-title>
      </mat-card-header>
      <mat-card-header *ngIf="selectedLesion">
        <mat-card-title>
          {{ selectedLesion.name }}
        </mat-card-title>
        <mat-card-subtitle> By {{ selectedLesion.author }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="selectedLesion">
        {{ selectedLesion.description }}
      </mat-card-content>
    </mat-card>
  </div>
  <mat-accordion class="example-headers-align">
    <mat-expansion-panel [expanded]="step === 0" (opened)="setStep(0)">
      <mat-expansion-panel-header>
        <mat-panel-title> Personal data </mat-panel-title>
        <mat-panel-description>
          Type your name and age
          <mat-icon>account_circle</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>First name</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-form-field appearance="fill">
        <mat-label>Age</mat-label>
        <input matInput type="number" min="1" />
      </mat-form-field>
      <mat-action-row>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>

    <mat-expansion-panel [expanded]="step === 1" (opened)="setStep(1)">
      <mat-expansion-panel-header>
        <mat-panel-title> Destination </mat-panel-title>
        <mat-panel-description>
          Type the country name
          <mat-icon>map</mat-icon>
        </mat-panel-description>
      </mat-expansion-panel-header>

      <mat-form-field appearance="fill">
        <mat-label>Country</mat-label>
        <input matInput />
      </mat-form-field>

      <mat-action-row>
        <button mat-button color="warn" (click)="prevStep()">Previous</button>
        <button mat-button color="primary" (click)="nextStep()">Next</button>
      </mat-action-row>
    </mat-expansion-panel>
  </mat-accordion>
</div>
