<button
  mat-raised-button
  class="save-button"
  [disabled]="!associationsEdited"
  (click)="saveAssociationChanges()"
  style="margin-top: calc(75px + 5%); margin-left: 13%"
>
  Save Changes
</button>
<div fxLayout="row" fxLayoutAlign="space-around start" style="margin-top: 10px">
  <div fxLayout="column" fxLayoutAlign="space-around start" fxLayoutGap="15px">
    <mat-card fxFlexFill>
      <mat-card-header>
        <mat-card-title>
          <h2>Lesions</h2>
        </mat-card-title>
      </mat-card-header>
      <mat-card-content *ngIf="!lesionsFetched">
        <mat-spinner> </mat-spinner>
      </mat-card-content>
      <mat-card-content *ngIf="lesionsFetched">
        <form fxFlexFill class="example-form">
          <mat-form-field
            fxFlexFill
            class="example-full-width"
            appearance="fill"
          >
            <mat-label>Select a lesion</mat-label>
            <input
              matInput
              aria-label="Lesion"
              [matAutocomplete]="auto"
              [formControl]="lesionCtrl"
            />
            <mat-autocomplete #auto="matAutocomplete">
              <mat-option
                *ngFor="let lesionMeta of filteredLesionMetas | async"
                [value]="lesionMeta.name"
                (click)="selectLesion(lesionMeta)"
                >{{ lesionMeta.name }}
              </mat-option>
            </mat-autocomplete>
          </mat-form-field>
        </form>
      </mat-card-content>
    </mat-card>
    <mat-card fxFlexFill>
      <mat-card-header *ngIf="!selectedLesion">
        <mat-card-title> Please select a lesion </mat-card-title>
      </mat-card-header>
      <mat-card-header *ngIf="selectedLesion">
        <mat-card-title>
          {{ selectedLesion.name }}
        </mat-card-title>
        <mat-card-subtitle> By {{ selectedLesion.author }} </mat-card-subtitle>
      </mat-card-header>
      <mat-card-content *ngIf="selectedLesion">
        <div
          class="drawing-categories"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="15px grid"
        >
          <span>Region: {{ selectedLesion.region }}</span>
          <span>Subregion: {{ selectedLesion.subregion }}</span>
          <span>Size: {{ selectedLesion.size }}</span>
        </div>
        {{ selectedLesion.description }}
      </mat-card-content>
    </mat-card>
  </div>
  <div fxLayout="column" fxLayoutAlign="start center">
    <h3>Surgical Techniques</h3>
    <mat-card *ngIf="!selectedLesion"> Please select a lesion first </mat-card>
    <mat-card *ngIf="selectedLesion && !techniquesFetched">
      <mat-spinner></mat-spinner>
    </mat-card>
    <mat-accordion
      *ngIf="selectedLesion && techniquesFetched"
      class="example-headers-align"
    >
      <mat-expansion-panel *ngFor="let technique of techniqueMetas">
        <mat-expansion-panel-header>
          <mat-panel-title
            style="line-height: 48px; height: 48px; width: 50%"
            >{{ technique.name }}</mat-panel-title
          >
          <mat-panel-description style="line-height: 48px; height: 48px"
            >{{ technique.stepIds.length }} Steps</mat-panel-description
          >
          <mat-slide-toggle
            style="height: 48px"
            #slideToggle
            [checked]="associatedToSelectedLesion(technique.id)"
            (change)="onAssociationToggle(technique)"
            >Associated</mat-slide-toggle
          >
          <button
            mat-icon-button
            style="height: 48px"
            (click)="rateAssociation($event, technique)"
            [disabled]="!slideToggle.checked"
          >
            <mat-icon>star_rate</mat-icon>
          </button>
        </mat-expansion-panel-header>
        <p>By {{ technique.author }}</p>
        <p>{{ technique.description }}</p>
        <mat-action-row>
          <button
            mat-button
            aria-label="More Details"
            (click)="showTechniqueDetails(technique)"
          >
            <mat-icon>launch</mat-icon>
            More Details
          </button>
        </mat-action-row>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</div>
