<h2 mat-dialog-title>Known lesions matching your drawing</h2>
<h4 mat-dialog-subtitle>Select one to see associated techniques</h4>
<mat-spinner *ngIf="!lesionMetasFetched"></mat-spinner>
<div
  *ngIf="lesionMetasFetched"
  fxLayout="row wrap"
  fxLayoutAlign="space-around center"
  fxLayoutGap="10px grid"
>
  <div *ngFor="let lesion of lesionMetas" style="max-width: 30%">
    <mat-card>
      <mat-card-header>
        <mat-card-title>
          {{ lesion.name }}
        </mat-card-title>
        <mat-card-subtitle> By {{ lesion.author }} </mat-card-subtitle>
        <div
          class="drawing-categories"
          fxLayout="row"
          fxLayoutAlign="start center"
          fxLayoutGap="15px grid"
        >
          <span>Region: {{ lesion.region }}</span>
          <span>Subregion: {{ lesion.subregion }}</span>
          <span>Size: {{ lesion.size }}</span>
        </div>
      </mat-card-header>
      <img mat-card-image *ngIf="lesion" [src]="lesion.imageId" />
      <mat-card-content *ngIf="lesion">
        <p>{{ lesion.description }}</p>
      </mat-card-content>
    </mat-card>
  </div>
</div>
