<div
  class="login-card-container"
  fxLayout="column"
  fxLayoutAlign="space-around center"
>
  <div fxLayout="column" fxLayoutAlign="space-between center">
    <img
      src="/assets/logo-dermatech-dark.png"
      style="max-height: 150px; aspect-ratio: auto"
    />
  </div>
  <mat-card class="login-card">
    <mat-card-header>
      <mat-card-title>Welcome! Please log in to use Dermatech</mat-card-title>
      <mat-card-subtitle
        >Please provide email and password for your user account
        below.</mat-card-subtitle
      >
    </mat-card-header>
    <mat-card-content>
      <div fxLayout="column" fxLayoutAlign="space-around stretch">
        <mat-form-field appearance="outline">
          <mat-label>Enter your email</mat-label>
          <input
            matInput
            placeholder="user@example.com"
            [formControl]="email"
            required
            type="email"
          />
          <mat-error *ngIf="email.invalid">{{
            getEmailErrorMessage()
          }}</mat-error>
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Enter your password</mat-label>
          <input
            matInput
            placeholder="Password"
            [formControl]="password"
            required
            [type]="hidePassword ? 'password' : 'text'"
          />
          <button
            mat-icon-button
            matSuffix
            (click)="hidePassword = !hidePassword"
            [attr.aria-label]="'Hide password'"
            [attr.aria-pressed]="hidePassword"
          >
            <mat-icon>{{
              hidePassword ? "visibility_off" : "visibility"
            }}</mat-icon>
          </button>
          <mat-error *ngIf="password.invalid">{{
            getPasswordErrorMessage()
          }}</mat-error>
        </mat-form-field>
      </div>
    </mat-card-content>
    <mat-card-actions fxLayout>
      <button
        fxFlexFill
        [disabled]="!password.valid || !email.valid"
        mat-raised-button
        class="login-button"
        (click)="login()"
      >
        Login
      </button>
    </mat-card-actions>
  </mat-card>
  <div
    fxLayout="row"
    style="margin-bottom: 20px"
    fxLayoutAlign="space-between center"
  >
    <img
      src="/assets/logo-centroderm.svg"
      style="max-height: 100px; aspect-ratio: auto"
    />
    <img
      src="/assets/x-symbol.svg"
      style="max-height: 75px; aspect-ratio: auto; margin: 0px 25px"
    />
    <img
      src="/assets/THD-Logo-compact.png"
      style="max-height: 85px; aspect-ratio: auto; margin: 0px 20px"
    />
  </div>
</div>
