.single-step-button {
    width: 35%;
    margin: 2em 0 !important;
    background-color: #DAE5F1; // TODO: replace with primary color from design
    color: black;
  }
  
  .welcome-card {
    margin-top: 5%;
  }
  
  