<button
  fxLayout
  fxLayoutAlign="space-between center"
  mat-button
  (click)="logout()"
  style="position: absolute; top: 10px; right: 10px"
>
  <mat-icon class="menu-icon">logout</mat-icon>Logout
</button>
<div fxLayout="column" fxLayoutAlign="space-between center">
  <img
    src="/assets/logo-dermatech-dark.png"
    style="max-height: 100px; aspect-ratio: auto; margin-top: 5vh"
  />
</div>
<div
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
  style="height: calc(85vh - 100px)"
>
  <h1 style="font-size: xx-large">Welcome to Dermatech!</h1>
  <div style="max-width: 90vw; text-align: center; font-size: medium">
    <p>
      This application supports you with up-to-date information and knowledge on
      surgical techniques when choosing the one for your patient.
    </p>
    <p>
      You will be guided through the necessary selection steps: Selection of the
      location and size of the lesion will propose you fitting surgical
      techniques.
    </p>
    <p>
      You can also draw the patient's lesion and the application will propose
      known lesion types and related surgical techniques.
    </p>
  </div>
  <div
    fxLayout="row wrap"
    fxLayoutAlign="center center"
    fxLayoutGap="10px grid"
  >
    <div fxFlex="100" fxLayout fxLayoutAlign="center">
      <button
        fxFlex="100"
        mat-raised-button
        [matMenuTriggerFor]="matchingMenu"
        class="save-button"
        style="font-size: 18px; padding: 10px"
      >
        Find Surgical Techniques
      </button>
      <mat-menu #matchingMenu="matMenu">
        <button mat-menu-item routerLink="/filter-selection">
          <mat-icon class="menu-icon">filter_alt</mat-icon>By Criteria
        </button>
        <button mat-menu-item routerLink="/lesion-matching">
          <mat-icon class="menu-icon">draw</mat-icon>By Drawing
        </button>
      </mat-menu>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="30">
      <button
        fxFlex="100"
        mat-raised-button
        [matMenuTriggerFor]="addDataMenu"
        style="font-size: 18px; padding: 10px"
      >
        Add Data
      </button>
      <mat-menu #addDataMenu="matMenu">
        <button mat-menu-item routerLink="/add-lesion">
          <mat-icon class="menu-icon">local_hospital</mat-icon>Add Lesion
        </button>
        <button mat-menu-item routerLink="/add-technique">
          <mat-icon class="menu-icon">healing</mat-icon>Add Surgical Technique
        </button>
      </mat-menu>
    </div>
    <div fxFlex.lt-md="100" fxFlex.gt-sm="70">
      <button
        fxFlex="100"
        mat-raised-button
        routerLink="/associate-lesion-technique"
        style="font-size: 18px; padding: 10px"
      >
        Associate Lesions & Techniques
      </button>
    </div>
  </div>
</div>
