<div
  fxLayout="column"
  fxLayoutAlign="space-evenly center"
  style="padding: 5%; height: calc(100vh)"
>
  <!-- <div fxLayout="column" fxLayoutAlign="space-between center">
    <img
      src="/assets/logo-dermatech-dark.png"
      style="max-height: 150px; aspect-ratio: auto"
    />
  </div> -->
  <h1 style="font-size: xxx-large">Welcome to Dermatech!</h1>
  <div>
    <p>
      This application supports you with up-to-date information and knowledge on
      surgical techniques when choosing the one for your patient.
    </p>
    <p>
      You will be guided through the necessary selection steps: Selection of the
      location and size of the lesion will propose you fitting surgical
      techniques.
    </p>
    <p>
      You can also draw the patient's lesion and the application will propose
      known lesion types and related surgical techniques.
    </p>
    <!-- <mat-card>
      <mat-card-content>
        
      </mat-card-content>
    </mat-card> -->
  </div>
  <div fxLayout="row wrap" fxLayoutGap="10px grid">
    <div>
      <button
        [routerLink]="'/filter-selection'"
        fxLayout
        mat-raised-button
        style="font-size: 18px; padding: 10px"
      >
        <span fxFlexFill> Decision Support by Lesion Criteria </span>
        <mat-icon>play_circle</mat-icon>
      </button>
    </div>
    <div>
      <button
        [routerLink]="'/lesion-matching'"
        fxLayout
        mat-raised-button
        style="font-size: 18px; padding: 10px"
      >
        <span fxFlexFill> Decision Support by Lesion Drawing </span>
        <mat-icon>play_circle</mat-icon>
      </button>
    </div>
  </div>
</div>
