.toolbar {
  background-color: #434850;
  z-index: 100;
}

.toolbar .logo {
  height: 80%;
  line-height: 100%;
  margin-right: 10px;
}

.single-step-button {
  width: 35%;
  margin: 2em 0 !important;
  background-color: #dae5f1; // TODO: replace with primary color from design
  color: black;
}
