<mat-horizontal-stepper linear #stepper class="lesion-stepper">
  <!-- Replace the "edit" icons in the stepper with "done" icons -->
  <ng-template matStepperIcon="edit">
    <mat-icon>done</mat-icon>
  </ng-template>
    <mat-step>
      <button mat-raised-button class="back-button" [routerLink]="['/welcome']">
      <mat-icon>chevron_left</mat-icon>
      Back
      </button>
      <ng-template matStepLabel>Location of the Lesion</ng-template>
      <app-head-model class="flex-row-center lesion-step-card"></app-head-model>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Size of the Lesion</ng-template>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Visualization of the surgical technique</ng-template>
    </mat-step>
  </mat-horizontal-stepper>