<div fxLayout="column" fxLayoutAlign="center center">
  <h1 style="margin-top: calc(75px + 5%)">
    Find the best matching techniques using 3 criteria
  </h1>
  <h3 style="text-align: justify">
    Please follow the steps according to your patient's lesion
  </h3>
  <mat-stepper
    [orientation]="(stepperOrientation | async)!"
    style="max-width: 800px; margin-bottom: 15px"
  >
    <mat-step label="Lesion region">
      <mat-form-field appearance="outline">
        <mat-label>Lesion region</mat-label>
        <mat-select required [(ngModel)]="lesionRegion">
          <!-- (selectionChange)="onRegionSelect($event)" -->
          <mat-option
            *ngFor="let region of lesionFilterService.regions"
            [value]="region"
          >
            {{ capitalizeFirstLetter(region) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <div>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Lesion subregion">
      <mat-form-field *ngIf="lesionRegion" appearance="outline">
        <mat-label>Lesion subregion</mat-label>
        <mat-select required [(ngModel)]="lesionSubregion">
          <!-- (selectionChange)="onSubregionSelect($event)" -->
          <mat-option
            *ngFor="
              let subregion of lesionFilterService.subregions(lesionRegion)
            "
            [value]="subregion"
          >
            {{ capitalizeFirstLetter(subregion) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="!lesionRegion">Please select the region of the lesion first.</p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step label="Lesion size">
      <mat-form-field
        *ngIf="lesionRegion && lesionSubregion"
        appearance="outline"
      >
        <mat-label>Lesion size</mat-label>
        <mat-select required [(ngModel)]="lesionSize">
          <!-- (selectionChange)="onSizeSelect($event)" -->
          <mat-option
            *ngFor="
              let size of lesionFilterService.sizes(
                lesionRegion,
                lesionSubregion
              )
            "
            [value]="size"
          >
            {{ capitalizeFirstLetter(size) }}
          </mat-option>
        </mat-select>
      </mat-form-field>
      <p *ngIf="!lesionRegion || !lesionSubregion">
        Please select region and subregion of the lesion first.
      </p>
      <div>
        <button mat-button matStepperPrevious>Back</button>
        <button mat-button matStepperNext>Next</button>
      </div>
    </mat-step>
    <mat-step>
      <ng-template matStepLabel>Done</ng-template>
      <p *ngIf="!lesionRegion || !lesionSubregion || !lesionSize">
        Please select region, subregion and size of the lesion first.
      </p>
      <div *ngIf="lesionRegion && lesionSubregion && lesionSize">
        <p>
          That's it! To find fitting techniques for lesions fitting your
          critera, click the button below.
        </p>
        <mat-list>
          <div mat-subheader>Selected lesion criteria</div>
          <mat-list-item>Region: {{ lesionRegion }}</mat-list-item>
          <mat-list-item> Subregion: {{ lesionSubregion }} </mat-list-item>
          <mat-list-item> Size: {{ lesionSize }} </mat-list-item>
        </mat-list>
        <button
          fxFlexFill
          mat-raised-button
          class="save-button"
          (click)="onFindLesions()"
        >
          Find lesions
        </button>
      </div>
      <div>
        <button mat-button matStepperPrevious>Back</button>
      </div>
    </mat-step>
  </mat-stepper>
</div>
<ng-container *ngIf="lesionMetasRequested">
  <mat-spinner
    *ngIf="!lesionMetasFetched || !lesionMetasFiltered"
  ></mat-spinner>
  <div
    *ngIf="lesionMetasFetched && lesionMetasFiltered"
    fxLayout="row wrap"
    fxLayoutAlign="space-around center"
    fxLayoutGap="10px grid"
  >
    <div
      fxLayout="column"
      fxLayoutAlign="center center"
      *ngIf="!filteredLesionMetas.length"
    >
      <p>No matching lesions for your criteria found.</p>
      <button mat-raised-button [routerLink]="'add-lesion'">
        Add a new kind of lesion
      </button>
    </div>
    <ng-template ngFor let-lesion [ngForOf]="filteredLesionMetas">
      <div style="max-width: 30%">
        <mat-card class="cursor-pointer" (click)="showTechniques(lesion)">
          <mat-card-header fxLayout="column">
            <mat-card-title>
              {{ lesion.name }}
            </mat-card-title>
            <mat-card-subtitle> By {{ lesion.author }} </mat-card-subtitle>
            <div
              class="drawing-categories"
              fxLayout="row"
              fxLayoutAlign="start center"
              fxLayoutGap="15px grid"
            >
              <span>Region: {{ lesion.region }}</span>
              <span>Subregion: {{ lesion.subregion }}</span>
              <span>Size: {{ lesion.size }}</span>
            </div>
          </mat-card-header>
          <img mat-card-image *ngIf="lesion" [src]="lesion.imageId" />
          <mat-card-content *ngIf="lesion">
            <p>{{ lesion.description }}</p>
          </mat-card-content>
        </mat-card>
      </div>
    </ng-template>
  </div>
</ng-container>
