<ng-container *ngIf="uploadingData">
  <h2 mat-dialog-title>Saving new {{ data.kind }}...</h2>
  <mat-dialog-content>
    <mat-spinner></mat-spinner>
  </mat-dialog-content>
</ng-container>
<ng-container *ngIf="!uploadingData">
  <h2 mat-dialog-title>Details for the {{ data.kind }}</h2>
  <mat-dialog-content>
    <div fxLayout="column" fxLayoutAlign="space-between center">
      <mat-form-field appearance="outline">
        <mat-label>Name of the {{ data.kind }}</mat-label>
        <input
          matInput
          name="drawingNameInput"
          [(ngModel)]="drawingName"
          placeholder="Kind of {{ data.kind }}"
          required
        />
      </mat-form-field>
      <mat-form-field appearance="outline">
        <mat-label>Author of the {{ data.kind }}</mat-label>
        <input
          matInput
          name="drawingAuthorInput"
          [(ngModel)]="drawingAuthor"
          placeholder="Dr. Strange"
          required
        />
      </mat-form-field>
      <app-multiselect-autocomplete
        label="Associated Surgical Techniques"
        placeholder="Select Surgical Techniques"
        key="options"
        [data]="selectOptions"
        (result)="selectChange($event)"
      >
      </app-multiselect-autocomplete>
      <mat-form-field appearance="outline">
        <mat-label>Description of the {{ data.kind }}</mat-label>
        <textarea
          matInput
          name="drawingDescriptionInput"
          [(ngModel)]="drawingDescription"
          placeholder="Anything else to let users know?"
        ></textarea>
      </mat-form-field>
    </div>
  </mat-dialog-content>
  <mat-dialog-actions fxLayout="row">
    <button
      fxFlex
      mat-raised-button
      class="save-button"
      (click)="saveDrawing()"
      [disabled]="!drawingName || !drawingAuthor"
    >
      Save
    </button>
    <button fxFlex mat-button mat-dialog-close>Cancel</button>
  </mat-dialog-actions>
</ng-container>
