<div
  id="circularcursor"
  [style.top]="cursorTop"
  [style.left]="cursorLeft"
  [style.display]="drawingEnabled && cursorInCanvas ? 'block' : 'none'"
></div>
<button mat-raised-button class="floating-control" (click)="toggleDrawing()">
  Toggle Drawing
</button>
<button mat-raised-button class="floating-control" (click)="saveDrawing()">
  Save Drawing
</button>
<button mat-raised-button class="floating-control" (click)="clearDrawing()">
  Clear Drawing
</button>
<div
  id="container"
  [ngStyle]="{ cursor: drawingEnabled && cursorInCanvas ? 'none' : 'inherit' }"
></div>
