<div
  id="circularcursor"
  [style.top]="cursorTop"
  [style.left]="cursorLeft"
  [style.display]="drawingEnabled && cursorInCanvas ? 'block' : 'none'"
></div>

<!-- LEFT CONTROL BOX MOVING / DRAWING -->
<div
  style="position: absolute; width: 145px; top: calc(5% + 75px); left: 10px"
  fxLayout="column"
  fxLayoutGap="10px"
  fxLayoutAlign="space-between center"
>
  <mat-button-toggle-group
    fxFlexFill
    class="base-elevation small-toggle-group"
    [(ngModel)]="drawingEnabled"
    (change)="toggleDrawing()"
  >
    <mat-button-toggle fxFlex [value]="false"> Move </mat-button-toggle>
    <mat-button-toggle fxFlex [value]="true"> Draw </mat-button-toggle>
  </mat-button-toggle-group>
  <h4>Movement Controls</h4>
  <mat-button-toggle-group
    fxFlexFill
    class="base-elevation small-toggle-group"
    [(ngModel)]="controlMode"
    (change)="toggleControlMode()"
    [disabled]="drawingEnabled"
  >
    <mat-button-toggle
      [ngClass]="{ 'rotation-toggle-disabled': drawingEnabled }"
      fxFlex
      value="rotate"
    >
      Rotate
    </mat-button-toggle>
    <mat-button-toggle
      [ngClass]="{ 'rotation-toggle-disabled': drawingEnabled }"
      fxFlex
      value="pan"
    >
      Pan
    </mat-button-toggle>
  </mat-button-toggle-group>
  <button
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    (click)="resetControls()"
  >
    <mat-icon>person</mat-icon>
    Reset view
  </button>
  <h4 class="section-header">Drawing Controls</h4>
  <button
    fxFlexFill
    mat-raised-button
    ngx-colors-trigger
    colorsAnimation="popup"
    format="rgba"
    [hideTextInput]="true"
    (change)="onColorChange()"
    [(ngModel)]="drawColor"
    colorPickerControls="no-alpha"
  >
    <div fxLayout="row" fxLayoutAlign="space-between center">
      <ngx-colors></ngx-colors>
      Drawing color
    </div>
  </button>
  <button
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    (click)="undoLastStroke()"
  >
    <mat-icon>undo</mat-icon>
    Undo stroke
  </button>
  <button
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    (click)="clearDrawing()"
  >
    <mat-icon>clear</mat-icon>
    Clear drawing
  </button>
  <button
    *ngIf="drawingKind === 'technique'"
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    color="accent"
    (click)="takePicture()"
  >
    <mat-icon>image</mat-icon>
    Take picture
  </button>
  <button
    *ngIf="drawingKind === 'lesion'"
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    class="save-button"
    (click)="saveLesion()"
    [disabled]="!stepDrawingEdited"
  >
    <mat-icon>save</mat-icon>
    Save lesion
  </button>
  <button
    *ngIf="drawingKind === 'match'"
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    class="save-button"
    (click)="matchLesion()"
    [disabled]="!stepDrawingEdited"
  >
    <mat-icon>person_search</mat-icon>
    Match lesion
  </button>
  <button
    *ngIf="drawingKind === 'technique'"
    fxFlexFill
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    class="save-button"
    (click)="saveSurgicalTechnique()"
    [disabled]="uneditedNewStep && currentTechniqueStep === 0"
  >
    <mat-icon>save</mat-icon>
    Save technique
  </button>
</div>
<!-- RIGHT CONTROL BOX STEP OVERVIEW, SURGICAL TECHNIQUES -->
<div
  style="position: absolute; width: 260px; top: calc(5% + 75px); right: 10px"
  fxLayout="column"
  fxLayoutGap="10px"
  fxLayoutAlign="space-between center"
  *ngIf="drawingKind === 'technique'"
>
  <h4>Step Overview</h4>
  <mat-accordion style="max-width: 100%">
    <mat-expansion-panel
      *ngFor="let techniqueStep of techniqueSteps"
      hideToggle
      [ngClass]="
        currentTechniqueStep === techniqueStep.stepNumber ? 'active-step' : ''
      "
    >
      <mat-expansion-panel-header style="padding: 0px 5px">
        <mat-panel-title style="line-height: 48px; height: 48px; width: 45%">
          <span style="color: grey; margin-right: 5px">{{
            techniqueStep.stepNumber + 1
          }}</span>
          <span
            style="
              white-space: nowrap;
              overflow: hidden;
              text-overflow: ellipsis;
            "
          >
            {{ techniqueStep.name }}
          </span>
        </mat-panel-title>
        <button
          mat-icon-button
          color="primary"
          (click)="setStep($event, techniqueStep.stepNumber)"
          matTooltip="Edit the drawing for this step"
        >
          <mat-icon>draw</mat-icon>
        </button>
        <button
          mat-icon-button
          color="primary"
          (click)="editStepDetails($event, techniqueStep.stepNumber)"
          matTooltip="Edit title and description of this step"
        >
          <mat-icon>edit_note</mat-icon>
        </button>
        <button
          mat-icon-button
          color="warn"
          (click)="deleteStep($event, techniqueStep.stepNumber)"
          matTooltip="Delete this step"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <div matTooltip="This step has a picture, click to see it">
          <button
            mat-icon-button
            *ngIf="techniqueStep.image"
            style="color: green"
            (click)="showStepImage(techniqueStep.stepNumber)"
          >
            <mat-icon>image</mat-icon>
          </button>
        </div>
        <div matTooltip="This step is missing a picture">
          <button
            mat-icon-button
            *ngIf="!techniqueStep.image"
            style="color: red"
            disabled
          >
            <mat-icon>image_not_supported</mat-icon>
          </button>
        </div>
      </mat-expansion-panel-header>
      <mat-panel-description>{{
        techniqueStep.description || "No Description"
      }}</mat-panel-description>
    </mat-expansion-panel>
  </mat-accordion>
</div>
<div
  #headContainer
  id="container-{{ this.drawingKind }}"
  [ngStyle]="{ cursor: drawingEnabled && cursorInCanvas ? 'none' : 'inherit' }"
></div>
<!-- BOTTOM STEP CONTROLS -->
<div
  style="position: absolute; bottom: 10%; right: 17%; left: 17%"
  fxLayout="row"
  fxLayoutGap="10px"
  fxLayoutAlign="space-between center"
  *ngIf="drawingKind === 'technique'"
>
  <button
    (click)="prevStep()"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    [disabled]="currentTechniqueStep < 1"
  >
    <mat-icon>chevron_left</mat-icon> <span>Previous step</span>
  </button>
  <button
    (click)="nextStep()"
    fxLayout="row"
    fxLayoutAlign="space-between center"
    mat-raised-button
    [disabled]="uneditedNewStep"
  >
    <span *ngIf="currentTechniqueStep < techniqueSteps.length - 1"
      >Next step</span
    >
    <span *ngIf="currentTechniqueStep === techniqueSteps.length - 1"
      >Add new step</span
    >
    <mat-icon>chevron_right</mat-icon>
  </button>
</div>
