// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use "@angular/material" as mat;
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$dermatech-primary: mat.define-palette(mat.$indigo-palette);
$dermatech-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$dermatech-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$dermatech-theme: mat.define-light-theme(
  (
    color: (
      primary: $dermatech-primary,
      accent: $dermatech-accent,
      warn: $dermatech-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($dermatech-theme);

/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #dae5f1;
}

body,
.lesion-stepper .mat-horizontal-content-container,
.fake-stepper .mat-step-header .mat-step-icon {
  background-color: #dae5f1 !important;
}

.fake-stepper {
  pointer-events: none;
}

.fake-stepper .mat-step-label {
  white-space: pre-wrap !important;
}

.fake-stepper .mat-label-selected,
.fake-stepper .mat-step-label.mat-step-label-active {
  font-size: inherit;
  font-weight: inherit;
  color: rgba(0, 0, 0, 0.54) !important;
}

.head-container {
  height: 66vh;
}

.head-container canvas {
  height: 100% !important;
  width: auto !important;
  margin: auto;
}

.floating-control {
  z-index: 10;
}

.cursor-pointer {
  cursor: pointer;
}

.hover-elevation {
  @include mat.elevation-transition();
  @include mat.elevation(2);

  &:hover {
    @include mat.elevation(8);
  }
}

.base-elevation {
  @include mat.elevation(2);
}

.no-elevation {
  @include mat.elevation(0);
  box-shadow: none;
}

.corner-label {
  height: 43px;
  display: flex !important;
  align-items: center !important;
  border-radius: 0px 0px 10px 0px !important;
}
